
body{
    background-color: white;
    /* border: 1px solid rgba(255, 0, 0, 0.233); */
    width: auto;
    height:100%;
    overflow: scroll;
    overflow-x: hidden;

}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.carousel-item{
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #home{
  margin: 0 auto; 
  text-align: center;
  }
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

 #mastheadHoverGraphic{
  position: absolute;
   top: 15%; 
   display: grid;
   grid-gap: 2.6rem;
   grid-template-columns: auto auto auto auto auto;
   grid-template-rows: auto auto auto auto;
   /* justify-content: space-evenly; */
   left: 10%;
   width: 80%;
   height: 80%;
   /* border: 1px solid white; */
   text-align: center;
   overflow: hidden;
 }

 .masthead-img{
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid rgba(255, 255, 255, 0.25);
  padding: .3rem 0;
  min-width: 50px;
  max-width:15rem;
  min-height: 50px;
  max-height: 12rem;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat
 }

 

 .masthead-screen:hover{
  opacity: 1;
  transition: 1.1s ease;
  background-color: black;
  box-shadow:  0 0 10px rgba(255, 0, 0, .3); 
} 

.img-fluid{
  height: 16rem;
  width: auto;
  margin: 0 auto;
}

.masthead-screen{
  transform-origin: 50%;
  width: 15rem;
  height: 15rem;
  opacity: 0;
  border-radius: 2%;
  -webkit-filter: grayscale(75%); /* Safari 6.0 - 9.0 */
  filter: grayscale(75%);
  /* overflow: hidden; */
  /* border: 1px solid white; */
}

@media (min-width: 768px) {
  .navbar-social{
    margin: .6rem 0;
    padding: .35rem;
  }
}
@media (max-width: 768px){
  navbar-social{
    visibility: hidden;
  }
}
